@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 7</h1>
    <p class="lead">This assignment provides hands-on learning about the fundamental of cloud computing using MS Azure platform, including creating web server, database server, SQL databases using the Azure Portal and deploying your web apps to the Azure platform.</p>
    <p><a href="http://nesmaeili-wa2017a7.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 7 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>