@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Assignment 3</h2>
    <p class="lead">This web app implements some of the common interaction patterns in a web app that uses a persistent store.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment3.html" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
    <p><b><mark><small>Note: This project template uses AutoMapper static API</small></mark></b></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>How to use this Web App</h3>
        <ul>
            <li>Click "Employees" to access the list of employees</li> 
            <li>Click "Tracks" to access the list of tracks</li>
            <li>Click "Assignment 3" to getback to the homepage</li>
        </ul>
        <p>Click "Learn More" below to learn more about ASP.NET MVC</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>